input#input {
  width: 100%;
  padding: 1em;
  display: inline-block;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  box-sizing: border-box;
  color: #666;
  box-shadow: 1px 1px 5px #888;
  font-size: 1em;
  caret-color: #aaa;
}

button.submit {
  padding: 1em;
  display: inline-block;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  box-sizing: border-box;
  color: #666;
  box-shadow: 1px 1px 5px #888;
  font-size: 1em;
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

div.flex {
  display: flex;
  flex-direction: row;
}
